<p id="notice"><%= notice %></p>

<p>
  <b>Mailbox:</b>
  <%= @whitelist.mailbox_id %>
</p>

<p>
  <b>Domain:</b>
  <%= @whitelist.domain_id %>
</p>

<p>
  <b>Address:</b>
  <%= @whitelist.address %>
</p>

<p>
  <b>Action:</b>
  <%= @whitelist.action %>
</p>


<%= link_to 'Edit', edit_whitelist_path(@whitelist) %> |
<%= link_to 'Back', whitelists_path %>
